<mat-card [ngClass.xs]="[ 'my-cart-xs']" id="order-details" *ngIf="!showOrderdetail; else elseBlock">
    <h3 id="h3">Order Summary</h3>
</mat-card>
<ng-template #elseBlock>
    <mat-card [ngClass.xs]="[ 'my-cart-xs']" id="order-details">
        <mat-card fxLayout="column" style="box-shadow: none; margin: 4% 0%;">
            <mat-card fxLayout="row" fxLayoutGap="20px" fxLayout="row wrap" fxLayout.xs="column" class="display-container" *ngFor="let data of cartBooks">
                <mat-card style="background: none;" fxFlex="20" fxFlex.md="30" fxFlex.sm="40" id="image-card" class="display-card"><img class="img" [src]="data.coverPhoto"></mat-card>
                <mat-card fxFlex="20" fxFlex.md="30" fxFlex.sm="40" class="display-card">
                    <h6>{{data.bookName}}</h6>
                    <p>{{data.auther}}</p>
                    <h6>Rs.&nbsp;{{data.price*data.quantity}}</h6>
                </mat-card>
            </mat-card>
        </mat-card>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
            <span fxFlex="30">Total&nbsp;Rs.&nbsp;{{total}}</span>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="end center">
            <button fxFlex="30" (click)="onCheckout()" mat-button id="checkout-btn">CHECKOUT</button>
        </div>
    </mat-card>
</ng-template>