#order-details {
    border-style: solid;
    border-width: 1px;
    background: white;
    margin: 2% 31% 2% 21%;
    border-radius: unset;
    box-shadow: none;
}

#h3 {
    font-size: 12px;
    margin: 3% 5%;
    font-weight: 500;
}

.display-container {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin: 3% 13%;
    box-shadow: none;
    background: none;
}

.display-card {
    margin-left: 2%;
    margin-right: 3%;
    // width: 20%;
    margin-bottom: 3%;
    border-radius: 6px;
    border-radius: unset;
    box-shadow: none;
}

h6 {
    font-size: 14px;
    margin: 5% 0%;
    font-weight: 500;
}

p {
    font-size: 9px;
    margin: 0%;
    color: #b9b3b3;
    font-weight: 500;
}

.img {
    height: 110px;
    width: 85px;
    margin: 4% 0%;
}

#image-card {
    background: #f3eeee;
    text-align: center;
    box-shadow: unset;
}

#checkout-btn {
    color: white;
    font-size: 9px;
    font-weight: 400;
    border-radius: 2%;
    background: #72abec;
    // margin: 2% 5% 2% 76%;
    margin-bottom: 4%;
    padding: unset;
    margin-right: 9%;
    position: relative;
}

.my-cart-xs {
    margin: 2%!important;
}