.login-card {
    margin-left: 35%;
    margin-right: 38%;
}

.box1,
.box2 {
    width: 100%;
}

.login-btn {
    display: inline-block;
    margin-left: 55%;
}

.register-btn {
    display: inline-block;
    margin-right: -2%;
}

// .bg-image {
//     width: 100%;
//     height: 100%;
//     background-size: 1369px 765px;
//     background-repeat: no-repeat;
//     background-image: url('../../../assets/img.jpg');
// }