#customer-details {
    border-style: solid;
    border-width: 1px;
    background: white;
    margin: 2% 31% 2% 21%;
    border-radius: unset;
    box-shadow: none;
}

.my-cart-xs {
    margin: 2%!important;
}

h3 {
    margin: 2% 36%;
    font-size: 24px;
    font-weight: 500;
}

p {
    margin: 2% 26%;
    font-size: 14px;
    font-weight: 500;
}

#svg {
    margin: 2% 45%;
}